@use 'variaveis';

.about {
    background-color: variaveis.$corDeFundo;
    height: 180px;
    align-content: center;
    color: variaveis.$corTexto;

    &__title {
        text-align: center;
        margin-bottom: 40px;
    }

    &__content {
        text-align: center;
    }
}